.pai {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid purple;
  height: 350px;
  width: 400px;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  margin-top: 3.5rem;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: purple;
}

.box h1 {
  text-align: center;
  font-size: 30px;
}

.box a {
  font-size: 13px;
  text-decoration: none;
  color: purple;
  margin-top: 25px;
}

.box a:hover {
  transition: 1s;
  text-decoration: underline;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login label {
  margin-top: 15px;
}

.login button {
  margin-top: 20px;
  width: 50px;
}

input {
  height: 30px;
  border: none;
  font-size: 15px;
  padding: 10px;
  outline: 0;
  border: 1px solid purple;
  border-radius: 4px;
  color: rgb(62, 62, 62);
}

#btn {
  width: 100%;
  height: 50px;
  margin-top: 2rem;
  background-color: purple;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

#btn:hover {
  background-color: rgb(183, 0, 183);
  transition: 0.3s;
}
